{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <div class="container"><br>
        <h1>Créer de nouveau produit</h1>

        {{ include('produit/_form.html.twig', {'button_label': 'Ajouter'}) }}<br>

        <a href="{{ path('app_produit_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
    </div>
{% endblock %}
