{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
<div class="container"><br>
    <h1>Modifier la sous catégorie</h1>

    {{ include('sub_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sub_category_index') }}">Retour à la liste</a>

    {{ include('sub_category/_delete_form.html.twig') }}
</div>
{% endblock %}
